Connect/ClientForm/Service References/ClientServiceReference/Simple.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://myuri.org/Simple" elementFormDefault="qualified" targetNamespace="http://myuri.org/Simple" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAuthor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>